/*
CSS stylesheet
*/

html {
    font-size:16px;
}

a, li, nav {
    border:0;
    padding: 0;
    margin:0;
}

ul {
   list-style-type: none;
}

body {

   margin: 0 auto;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background: #7eccec;
   background: linear-gradient(#7eccec,white) no-repeat;
}

header {
    max-width: 800px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: rebeccapurple;
    background-color: #3366ff;
    font-size: 2.4em;
}

h2 {
    text-align: center;
}

div.fb-post {
text-align: center;
}

blockquote.instagram-media {
text-align: center;
}

/*nav bar*/
nav.sitenavigation {
    max-width: 800px;
    margin: 0 auto;
    color: black;
    text-align: center;
    background-color: white;
}

nav.sitenavigation li{
    margin: 0.3em 0.5em;
    padding: 0.2em 0.4em;
    display: inline-block;
    font-size: 1.3em;
    line-height: 1.4em;
    border-radius: 10px;
}

nav.sitenavigation li:hover {
    background-color: #34180f;

    transform: scale(1.2);
}

/*form styles*/

form {
    max-width: 400px;
    padding: 10px;
    margin: 0 auto;
}

.form-instructions {
    color: red;
    text-align: center;
}

/*fieldset styles*/
fieldset {
    margin-bottom: 0.8em;
    }

legend {
    font-size: 1.25em;
}

/*field styles*/
input, textarea {
    border: 1px solid #ccc;
    padding: 0.2em;
    font-size: 1em;
    display: block;

}

/* label styles */
label, .reserveinfo p{
    font-size: 1em;
    line-height: 1.6em;
    font-weight: bold;
}

label:before, .reserveinfo p:before {
    content: "* ";
    color: red;
}